/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
#/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc

board/r36s/rootfs_overlay_systemd/root/pico-8/pico8_64
board/r36s/rootfs_overlay_systemd/root/pico-8/pico8.dat
